<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper:核心根标签-->
<mapper namespace="StudentMapper">
    <!--查询标签-->
    <select id="selectAll" resultType="com.it.bean.Student">
        select *
        from student
    </select>

    <select id="selectById" resultType="com.it.bean.Student" parameterType="java.lang.Integer">
        select *
        from student
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.it.bean.Student">
        insert into student
        values (#{id}, #{name}, #{age})
    </insert>

    <update id="update" parameterType="com.it.bean.Student">
        update student
        set name=#{name},
            age=#{age}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from student where id=#{id}
    </delete>

</mapper>